<div class="feedback-container">
    <div class="feedback-error" *ngIf="!valid && verified">Errore: forse hai gi&agrave; rilasciato il feedback.</div>
    <div class="feedback-completed" [hidden]="!completed">Grazie per aver rilasciato il feedback.</div>
    <div *ngIf="facility && valid" [hidden]="completed">
        <div class="step-header">Lascia una recensione</div>
        <div class="stars-input-field">
            <div class="stars-input-field__label">Voglia di sport</div>
            <div class="stars-input-field__sublabel">Quanto questa struttura,  ti stimola a fare sport?</div>
            <div class="stars-input-field__stars">
                <span *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                    <mat-icon *ngIf="i <= feedback.motivation" (click)="feedback.motivation = i">star</mat-icon>
                    <mat-icon *ngIf="i > feedback.motivation" (click)="feedback.motivation = i">star_border</mat-icon>
                </span>
            </div>
        </div>
        <div class="stars-input-field">
            <div class="stars-input-field__label">Pulizia/Ordine</div>
            <div class="stars-input-field__sublabel">Struttura, spogliatoi, attrezzi, qualit&agrave; aria se al chiuso</div>
            <div class="stars-input-field__stars">
                <span *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                    <mat-icon *ngIf="i <= feedback.cleaning" (click)="feedback.cleaning = i">star</mat-icon>
                    <mat-icon *ngIf="i > feedback.cleaning" (click)="feedback.cleaning = i">star_border</mat-icon>
                </span>
            </div>
        </div>
        <div class="stars-input-field">
            <div class="stars-input-field__label">Rapporto qualit&agrave;/prezzo</div>
            <div class="stars-input-field__sublabel">Percezione tra importo speso e valore ricevuto in cambio</div>
            <div class="stars-input-field__stars">
                <span *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                    <mat-icon *ngIf="i <= feedback.value_for_money" (click)="feedback.value_for_money = i">star</mat-icon>
                    <mat-icon *ngIf="i > feedback.value_for_money" (click)="feedback.value_for_money = i">star_border</mat-icon>
                </span>
            </div>
        </div>
    </div>
    <div *ngIf="!facility && valid" [hidden]="completed">
        <div class="stars-input-field">
            <div class="stars-input-field__label">Professionalit&agrave;</div>
            <div class="stars-input-field__sublabel">Puntualità, Cortesia, Educazione, Capacità di ascolto Attivo</div>
            <div class="stars-input-field__stars">
                <span *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                    <mat-icon *ngIf="i <= feedback.professionality" (click)="feedback.professionality = i">star</mat-icon>
                    <mat-icon *ngIf="i > feedback.professionality" (click)="feedback.professionality = i">star_border</mat-icon>
                </span>
            </div>
        </div>
        <div class="stars-input-field">
            <div class="stars-input-field__label">Passione</div>
            <div class="stars-input-field__sublabel">Empatia e capacità di trasmettere entusiasmo</div>
            <div class="stars-input-field__stars">
                <span *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                    <mat-icon *ngIf="i <= feedback.passion" (click)="feedback.passion = i">star</mat-icon>
                    <mat-icon *ngIf="i > feedback.passion" (click)="feedback.passion = i">star_border</mat-icon>
                </span>
            </div>
        </div>
        <div class="stars-input-field">
            <div class="stars-input-field__label">Competenza</div>
            <div class="stars-input-field__sublabel">Conoscenze tecniche e capacità comunicativa</div>
            <div class="stars-input-field__stars">
                <span *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                    <mat-icon *ngIf="i <= feedback.skill" (click)="feedback.skill = i">star</mat-icon>
                    <mat-icon *ngIf="i > feedback.skill" (click)="feedback.skill = i">star_border</mat-icon>
                </span>
            </div>
        </div>
    </div>
    <form class="feedback-form" *ngIf="valid" [hidden]="completed" [formGroup]="feedbackFormGroup">
        <button mat-raised-button type="button" color="primary" (click)="submitFeedback()">Invia recensione</button>
    </form>
</div>
