@font-face {
  font-family: 'Montserrat Bold';
  src: url('Montserrat-Bold.eot'); /* IE9 Compat Modes */
  src: url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Montserrat-Bold.woff') format('woff'), /* Modern Browsers */
       url('Montserrat-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Montserrat-Bold.svg#2eb9a020d90588d099da01ff1a93c338') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Montserrat Light';
  src: url('Montserrat-Light.eot'); /* IE9 Compat Modes */
  src: url('Montserrat-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Montserrat-Light.woff') format('woff'), /* Modern Browsers */
       url('Montserrat-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Montserrat-Light.svg#c152625b71562a7bb7b752375273b2d5') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url('Montserrat-Medium.eot'); /* IE9 Compat Modes */
  src: url('Montserrat-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Montserrat-Medium.woff') format('woff'), /* Modern Browsers */
       url('Montserrat-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Montserrat-Medium.svg#cb1240c6f96f04b5dbdfe9316fd3df80') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('Montserrat-Regular.eot'); /* IE9 Compat Modes */
  src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Montserrat-Regular.woff') format('woff'), /* Modern Browsers */
       url('Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Montserrat-Regular.svg#95d90f2cd2aa64bdfee0e9f34c516e71') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('Montserrat-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Montserrat-SemiBold.woff') format('woff'), /* Modern Browsers */
       url('Montserrat-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Montserrat-SemiBold.svg#1ff0c6908268c6b66905273d3627c4c9') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

