<mat-vertical-stepper class="booking-stepper" linear #stepper>
    <mat-step class="first-slide-step">
        <div class="first-slide">
            <div class="first-slide-gradient"></div>
            <div class="first-slide-content">
                <div class="first-slide__title first-slide__text">
                    Scegli<br/>
                    lo sport!
                </div>
                <div class="first-slide__content first-slide__text">
                    Scegli il <b>professionista</b> sportivo o la struttura pi&ugrave; adatti a te in base alla valutazione di altri sportivi!
                </div>
                <div>
                    <button mat-raised-button color="primary" matStepperNext>Inizia subito!</button>
                </div>
            </div>
        </div>
    </mat-step>
    <!--<mat-step [stepControl]="citiesFormGroup">
        <div class="step-header">Scegli la citt&agrave;</div>
        <form class="cities-form" [formGroup]="citiesFormGroup">
            <mat-form-field>
                <mat-label>Scegli la citt&agrave;</mat-label>
                <mat-select name="city" required formControlName="city">
                    <mat-option *ngFor="let city of cities" [value]="city.id">
                        {{city.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-raised-button (click)="getSportsByCity()" color="primary" matStepperNext>Avanti</button>
            </div>
        </form>
    </mat-step> -->
    <mat-step [stepControl]="sports">
        <div>
            <button mat-raised-button class="book-get-back" color="warn" matStepperPrevious>&lt; Torna indietro</button>
        </div>
        <div class="step-header">Scegli lo sport</div>
        <button mat-raised-button color="primary" *ngFor="let sport of sports" class="sports-sport" (click)="getCompaniesBySportCity(sport.id, stepper)" matStepperNext>
            <img class="sports-sport__img" src="{{sport.icon}}"  />
            <span class="sports-sport__span">{{sport.name}}</span>
        </button>
    </mat-step>
    <mat-step [stepControl]="companies">
        <div>
            <button mat-raised-button class="book-get-back" color="warn" matStepperPrevious>&lt; Torna indietro</button>
        </div>
        <mat-tab-group>
            <mat-tab label="Strutture">
                <mat-nav-list>
                    <a mat-list-item *ngFor="let company of companies" class="companies-company" href="javascript:void(0)" (click)="getCompany(company, stepper)">
                        <div class="companies-company__header">
                            <div class="companies-company__left">
                                <div class="companies-company__img" [style.background-image]="getBackground(company.photo)"></div>
                            </div>
                            <div class="companies-company__right">
                                <div class="companies-company__name">{{company.name}}</div>
                                <div class="companies-company__address">{{company.address}}</div>
                                <div *ngIf="company.rating > 0" class="companies-company__rating"><mat-icon *ngFor="let i of getRatingStarsNumber(company.rating)">star</mat-icon></div>
                            </div>
                            <div *ngIf="company.rating > 0" class="companies-company__ratingbadge">
                                <div class="companies-company__ratingbadge__value">
                                    {{company.rating | number:"1.1-1"}}
                                </div>
                                <div class="companies-company__ratingbadge__label">
                                    {{getRatingLabel(company.rating)}}
                                </div>
                            </div>
                        </div>
                        <div class="companies-company__description">
                            {{ (company.description.length > 210) ? ((company.description | slice:0:210) + "...") : company.description }}
                        </div>
                    </a>
                </mat-nav-list>
            </mat-tab>
            <mat-tab label="Istruttori">
                <mat-nav-list>
                    <a mat-list-item *ngFor="let company of instructors" class="companies-company" href="javascript:void(0)" (click)="getCompany(company, stepper)">
                        <div class="companies-company__header">
                            <div class="companies-company__left">
                                <div class="companies-company__img" [style.background-image]="getBackground(company.photo)"></div>
                            </div>
                            <div class="companies-company__right">
                                <div class="companies-company__name">{{company.name}}</div>
                                <div class="companies-company__address">{{company.address}}</div>
                                <div *ngIf="company.rating > 0" class="companies-company__rating"><mat-icon *ngFor="let i of getRatingStarsNumber(company.rating)">star</mat-icon></div>
                            </div>
                            <div *ngIf="company.rating > 0" class="companies-company__ratingbadge">
                                <div class="companies-company__ratingbadge__value">
                                    {{company.rating | number:"1.1-1"}}
                                </div>
                                <div class="companies-company__ratingbadge__label">
                                    {{getRatingLabel(company.rating)}}
                                </div>
                            </div>
                        </div>
                        <div class="companies-company__description">
                            {{ (company.description.length > 210) ? ((company.description | slice:0:210) + "...") : company.description }}
                        </div>
                    </a>
                </mat-nav-list>
            </mat-tab>

        </mat-tab-group>

    </mat-step>
    <mat-step [stepControl]="company">
        <div>
            <button mat-raised-button class="book-get-back" color="warn" matStepperPrevious>&lt; Torna indietro</button>
        </div>
        <div class="company-header">
            <div class="company-header__photo" [style.background-image]="getBackground(company.photo)"></div>
            <div class="company-header__meta">
                <div class="company-header__name">{{company.name}}</div>
                <div class="company-header__address" *ngIf="facility && company.address.length > 0">
                    {{company.address}}<br/>
                    {{company.city.name}}&nbsp;{{company.post_code}}
                </div>
                <div *ngIf="company.rating > 0" class="company-header__rating companies-company__rating"><mat-icon *ngFor="let i of getRatingStarsNumber(company.rating)">star</mat-icon></div>
            </div>
            <div *ngIf="company.rating > 0" class="companies-company__ratingbadge">
                <div class="companies-company__ratingbadge__value">
                    {{company.rating | number:"1.1-1"}}
                </div>
                <div class="companies-company__ratingbadge__label">
                    {{getRatingLabel(company.rating)}}
                </div>
            </div>
        </div>
        <div class="company-book">
            <button mat-raised-button color="primary" (click)="completed(stepper)">Richiedi maggiori info</button>
        </div>
        <div *ngIf="facility" class="company-infos">
            <div>
                <div class="company-infos__single company-infos__opentimes" *ngIf="company.open_times && company.open_times.length > 0">
                    <div class="company-infos__title">Orari di apertura</div>
                    <div class="company-infos__content">{{company.open_times}}</div>
                </div>
                <div class="company-infos__single company-infos__description" *ngIf="company.description && company.description.length > 0">
                    <div class="company-infos__title">Descrizione</div>
                    <div class="company-infos__content">{{company.description}}</div>
                </div>
                <div class="company-infos__single company-infos__services" *ngIf="company.services && company.services.length > 0">
                    <div class="company-infos__title">Servizi offerti</div>
                    <div class="company-infos__content">{{company.services}}</div>
                </div>
            </div>
        </div>
        <div *ngIf="!facility" class="company company-not-facility">
            <div>
                <div class="company-infos__single company-infos__age" *ngIf="company.age > 0">
                    <div class="company-infos__title">Et&agrave;</div>
                    <div class="company-infos__content">{{company.age}}</div>
                </div>
                <div class="company-infos__single company-infos__profession" *ngIf="company.profession && company.profession.length > 0">
                    <div class="company-infos__title">Qualifica professionale</div>
                    <div class="company-infos__content">{{company.profession}}</div>
                </div>
                <div class="company-infos__single company-infos__certifications" *ngIf="company.certifications && company.certifications.length > 0">
                    <div class="company-infos__title">Certificazioni</div>
                    <div class="company-infos__content">{{company.certifications}}</div>
                </div>
                <div class="company-infos__single company-infos__bio" *ngIf="company.bio && company.bio.length > 0">
                    <div class="company-infos__title">Biografia</div>
                    <div class="company-infos__content">{{company.bio}}</div>
                </div>
                <div class="company-infos__single company-infos__description" *ngIf="company.description && company.description.length > 0">
                    <div class="company-infos__title">Descrizione</div>
                    <div class="company-infos__content">{{company.description}}</div>
                </div>
                <div class="company-infos__single company-infos__awards" *ngIf="company.awards && company.awards.length > 0">
                    <div class="company-infos__title">Premi vinti</div>
                    <div class="company-infos__content">{{company.awards}}</div>
                </div>
                <div class="company-infos__single company-infos__super_powers" *ngIf="company.super_powers && company.super_powers.length > 0">
                    <div class="company-infos__title">Super poteri</div>
                    <div class="company-infos__content">{{company.super_powers}}</div>
                </div>
            </div>
        </div>
    </mat-step>
    <mat-step [stepControl]="bookingFormGroup">
        <div>
            <button mat-raised-button class="book-get-back" color="warn" matStepperPrevious>&lt; Torna indietro</button>
        </div>
        <form class="booking-form" [formGroup]="bookingFormGroup">
            <div class="booking-form__div">
                <mat-form-field class="full-width-field">
                    <input matInput formControlName="firstName" placeholder="Nome" required>
                </mat-form-field>
                <mat-form-field class="full-width-field">
                    <input matInput formControlName="lastName" placeholder="Cognome" required>
                </mat-form-field>
                <mat-form-field class="full-width-field">
                    <input matInput formControlName="telephone" placeholder="Telefono" required>
                </mat-form-field>
                <mat-form-field class="full-width-field">
                    <input matInput placeholder="Email" formControlName="email" required>
                    <mat-error *ngIf="bookingFormGroup.get('email').hasError('email') && !bookingFormGroup.get('email').hasError('required')">
                        Inserisci una e-mail valida
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" matStepperNext (click)="postBooking(stepper)">Richiedi maggiori info</button>
            </div>
        </form>
    </mat-step>
    <mat-step class="first-slide-step">
        <div class="first-slide">
            <div class="first-slide-gradient"></div>
            <div class="first-slide-content">
                <div class="first-slide__title first-slide__text">
                    Grazie per<br/>
                    aver prenotato!
                </div>
                <div>
                    <a href="/" mat-raised-button color="primary" >Torna alla home!</a>
                </div>
            </div>

        </div>
    </mat-step>
</mat-vertical-stepper>
