/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Montserrat Bold';
  src: url('assets/Montserrat/Montserrat-Bold.eot'); /* IE9 Compat Modes */
  src: url('assets/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/Montserrat/Montserrat-Bold.woff') format('woff'), /* Modern Browsers */
       url('assets/Montserrat/Montserrat-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/Montserrat/Montserrat-Bold.svg#2eb9a020d90588d099da01ff1a93c338') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Montserrat Light';
  src: url('assets/Montserrat/Montserrat-Light.eot'); /* IE9 Compat Modes */
  src: url('assets/Montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/Montserrat/Montserrat-Light.woff') format('woff'), /* Modern Browsers */
       url('assets/Montserrat/Montserrat-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/Montserrat/Montserrat-Light.svg#c152625b71562a7bb7b752375273b2d5') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url('assets/Montserrat/Montserrat-Medium.eot'); /* IE9 Compat Modes */
  src: url('assets/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/Montserrat/Montserrat-Medium.woff') format('woff'), /* Modern Browsers */
       url('assets/Montserrat/Montserrat-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/Montserrat/Montserrat-Medium.svg#cb1240c6f96f04b5dbdfe9316fd3df80') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('assets/Montserrat/Montserrat-Regular.eot'); /* IE9 Compat Modes */
  src: url('assets/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/Montserrat/Montserrat-Regular.woff') format('woff'), /* Modern Browsers */
       url('assets/Montserrat/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/Montserrat/Montserrat-Regular.svg#95d90f2cd2aa64bdfee0e9f34c516e71') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('assets/Montserrat/Montserrat-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('assets/Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/Montserrat/Montserrat-SemiBold.woff') format('woff'), /* Modern Browsers */
       url('assets/Montserrat/Montserrat-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/Montserrat/Montserrat-SemiBold.svg#1ff0c6908268c6b66905273d3627c4c9') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

html, body { height: 100%; background: #fff }
body { margin: 0; font-family: "Montserrat Regular", sans-serif; color: #545e70;}


.mat-stepper-horizontal, .mat-stepper-vertical, .mat-select{
    font-family: "Montserrat Regular";
}

.mat-tab-label, .mat-form-field, .mat-tab-link, .mat-list-item, .mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
    font-family: "Montserrat Regular";
}

.congratulations {
    font-size: 2em;
    padding-top: 30px;
}

.mat-list-base .mat-list-item {
    color: #545e70 !important;
}
.sports-sport, .companies-company {
    display: block;
    text-align: center;
}

.sports-sport__img, .companies-company__img {
    height: 100px;
    display: block;
}

.sports-sport__img {
    height: 60px;
}

.logo__a {
    height: 100%;
}

.full-width-field {
    width: 100%;
}

.toolbar-horizontal-fill {
    flex: 1 1 auto;
}

.toolbar-menu-icon {
    color: #333;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.fixed-header {
    background: #fff !important;
}

.toolbar__logo, .toolbar__logo > img {
    height: 90%;
}

.mat-step-header {
    display: none !important;
}

.mat-step {
    background: #fff;
}

.mat-stepper-vertical-line::before{border-left-color:rgba(0,0,0,0)}

.step-header {
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 20px;
}

.mat-vertical-content-container {
    margin-left: 0px !important;
}

.mat-vertical-content {
    padding: 25px 25px !important;
}

mat-form-field {
    width: 100%
}

.mat-raised-button {
    width: 100%;
    border-radius: 100px !important;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #26b4ca, #08accd, #00a3d0, #129ad0, #2c90cf);
    height: 50px;
    margin-top: 30px !important;
}

.mat-form-field.mat-focused .mat-form-field-label, .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #26b4ca;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #26b4ca;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    height: 230px !important;
    padding: 0 !important;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
    padding: 20px 16px !important;
}

.companies-company__left {
    width: 10%;
    height: 100%;
    text-align: center;
}

.companies-company__img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.companies-company__right {
    text-align: left;
}

.companies-company__right > div {
    padding-bottom: 3px;
}

.companies-company__rating {
    font-size: 14px
}

.companies-company__rating mat-icon {
    font-size: 0.8em;
    width: 1.3em;
    padding-top: 0px;
    color: #f9ab19;
}

.mat-tab-label {
    text-transform: uppercase;
    font-size: 1em;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #545e70 !important;
}

.mat-tab-label-content {
    color: #545e70;
}

.mat-tab-label.mat-tab-label-active {
    opacity: 1;
}

.companies-company__name {
    font-size: 1em;
    padding-top: 10px;
    font-family: "Montserrat Regular";
}

.sports-sport.mat-raised-button.mat-primary.ng-star-inserted {
    height: 25vh;
    border-radius: 30px !important;
    text-align: center;
    text-transform: none;
    font-size: 1.2em;
}

.sports-sport__img {
    margin: 0 auto;
}

.book-get-back.mat-raised-button.mat-warn {
    padding: 0;
    margin-bottom: 10px !important;
    background: none;
    border: none;
    box-shadow: none;
    color: #545e70;
    text-align: left;
    height: auto;
    margin-top: -20px !important;
}

.company-header__photo {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin-right: 20px;
    float: left;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.company-header__meta {
    display: inline-block;
    width: 80%;
    float: left;
}

.company-header__name {
    font-size: 1.8em;
    padding-bottom: 10px;
    font-family: "Montserrat Medium";
}

.company-header__rating.companies-company__rating {
    margin-top: 10px;
}

.company-header__address.ng-star-inserted,.company-header__rating.companies-company__rating {
    font-size: 0.9em;
    
}
.company-header__address {
    line-height: 1.5;
    font-family: "Montserrat Light";
}


.mat-raised-button.mat-primary {
    box-shadow: 2px 8px 8px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12) !important;
}

.company-infos__single {
    margin-top: 30px;
}

.company-infos__title {
    color: #28b5cb;
    font-weight: bold;
    margin-bottom: 15px;
}

.company-infos__content {
    white-space: pre-line;
}

#cdk-step-content-0-0 .mat-vertical-content, #cdk-step-content-0-6 .mat-vertical-content { 
    padding: 0 !important;
}

#cdk-step-content-0-6 .mat-button-wrapper {
    line-height: 50px;
}

#cdk-step-content-0-6 .first-slide .mat-raised-button.mat-primary {
    margin: 60px 20px !important;
}

.mat-vertical-stepper-content[aria-expanded=true] .first-slide {
    background-image: url("assets/first-slide-bg.jpg");
    height: calc(100vh - 64px);
}

.mat-vertical-stepper-content[aria-expanded="false"] {
    display: none;
}

.first-slide-gradient {
    position: absolute;
    height: calc(100vh - 64px);
    width: 100%;
    background-image: linear-gradient(to right top, #2ab4ca, #00a2c7, #008ec1, #107bb8, #3266aa);
    opacity: 0.9;
}

.first-slide__text {
    color: #fff;
    position: relative;
    z-index: 99;
}

.first-slide__text {
    padding-left: 20px;
    padding-right: 20px;
}

.first-slide .mat-raised-button.mat-primary {
    margin: 0 20px;
    width: calc(100vw - 40px);
}

.first-slide__title.first-slide__text {
    font-weight: bold;
    font-size: 2.5em;
    line-height: 1.2em;
    padding-top: 10vh;
}

.first-slide__content.first-slide__text {

    padding-top: 30px;
    font-size: 1em;
    font-family: "Montserrat Regular";
    font-weight: 200;
    padding-bottom: 20px;
}

.feedback-error, .feedback-completed {
    margin-top: 30px;
    font-size: 2em;
    margin-left: 30px;
    font-family: "Montserrat Medium";
}

.stars-input-field {
    margin-top: 20px;
}

.stars-input-field__label {
    color: #28b5cb;
    margin-bottom: 10px;
    font-family: "Montserrat Medium";
    text-align: center;
}

.stars-input-field__stars {
    text-align: center;
}

.stars-input-field__stars span {
    color: #f9ab19;
    cursor: pointer;
}

.feedback-container {
    padding: 0 15%;
}

.mail-error {
    color: #f44336;
}

#cdk-step-content-0-3 .mat-vertical-content {
    padding: 24px 0 !important;
}

#cdk-step-content-0-3 .book-get-back.mat-raised-button.mat-warn {
    padding-left: 24px;
}

#cdk-step-content-0-3 .mat-tab-header {
    padding: 0 24px;
}

.mat-nav-list.mat-list-base .mat-list-item:nth-child(even) {
    background: #f4f7f9;
}

.companies-company__address {font-size: 14px; font-family: 'Montserrat Light';}
.step-header {margin-top: 10px;}
.company-header__name {font-size: 1.3em; line-height: 1.2;}
.company-infos__content {font-family: 'Montserrat light';}

.stars-input-field__sublabel {
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 10px;
    font-family: "Montserrat Light";
}

.companies-company__description {
    text-align: left;
    font-size: 0.8em;
}

.companies-company .mat-list-item-content {
    display: block !important;
}

.companies-company__header {
    position: relative;
    height: 100px;
}

.companies-company__left, .companies-company__right {
    float: left;
}

.companies-company__ratingbadge {
    float: right;
    margin-top: 10px;
    height: 60px;
    text-align: center;
}

.companies-company__description {
    text-align: justify;
    font-size: 0.8em;
}

.companies-company__ratingbadge__value {
    height: 50px;
    background-color: #555d70;
    color: #fff;
    font-size: 1.2em;
    width: 50px;
    float: right;
    line-height: 50px;
}

.companies-company__ratingbadge__label {
    font-size: 0.6em;
}

.company-header .companies-company__ratingbadge {
    margin-top: 0;
}

.companies-company__description {line-height: 1.5; font-family: 'Montserrat Light';}

.company-infos__content {font-size: 1em; line-height:1.5}

.feedback-form .mat-raised-button {
    color: #fff !important;
}

.feedback-container .step-header {
    margin-top: 25px;
}

@media only screen and (max-width: 768px) {
    .companies-company__left {
        width: 25vw;
        height: 100%;
        text-align: center;
    }

    .company-header__meta {
        display: inline-block;
        width: 45vw;
        float: left;
    }
    .company-header__photo {
        height: 22vw;
        width: 22vw;
    }

    .first-slide .mat-raised-button.mat-primary {
        width: calc(100vw - 40px);
        margin: 20px;
    }

    .cities-form {
        margin-top: 50%;
    }

}

@media only screen and (min-width: 769px) {
    /*.mat-toolbar.mat-primary, main {
        padding: 0 15%;
    }*/
    .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
        height: 200px !important;
    }


    .mat-vertical-stepper-content {
        padding: 0 15%;
    }

    #cdk-step-content-0-0.mat-vertical-stepper-content, #cdk-step-content-0-6.mat-vertical-stepper-content {
        padding: 0;
    }

    .first-slide-content {
        padding: 0 15%;
    }

    .first-slide .mat-raised-button.mat-primary {
        margin: 0 20px;
        width: calc(100% - 40px);
    }

    .companies-company__left {
        width: 15%;
    }

    .company-header__meta {
        width: 50%;
    }
}

@media only screen and (max-width: 368px) {

    .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
        height: 200px !important;
    }

    .companies-company__left {
        width: 30vw;
    }

    .companies-company__right {
        width: 40%;
    }

    .company-header__meta {
        width: 30vw;
    }
}

