Ciao <b>{{ booking.first_name }} {{ booking.last_name }}</b>,<br/>
<br/>
la tua lezione presso <b>{{ booking.company.name }}</b> è stata completata.<br/>
<br/>
Aiutaci a migliorare costantemente la qualit&agrave; dello sport. Rilascia una recesione <a href="{{ frontend_url}}/feedback/{{ booking.pk }}/{{ booking.uuid }}">cliccando qui</a>.<br/>
<br/>
Buon Sport con <a href="{{frontend_url}}">{{frontend_url}}</a> - lo sport con chi vuoi tu.<br/>
<br/>
--<br/>
<br/>
<b>Davide Peterlin</b><br/>
<a href="mailto:davide.peterlin@sportibook.com">davide.peterlin@sportibook.com</a><br/>
<br/>
